.animated-image {
    animation: slideIn 1s forwards;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }

    
  }
  
  .pulse:hover {
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(0.51);
    }
    100% {
      transform: scale  (0.5);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-image:hover {
    animation: rotate 1s linear infinite;
}

  
  
.duplicate {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.image-container {
  position: relative;
  display: inline-block;
}
  
  